.card {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    gap: 3em;
}

.texto {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.titulo_midias {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 50px;
    color: var(--cor-fonte);
}

.descricao_midias {
    font-family: var(--fonte-descricao);
    font-weight: 300;
    font-size: 15px;
    color: var(--fonte-descricao);
}

.card_imagem {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}


@media screen and (max-width: 600px) {
    .card, .card_imagem, .texto {
        display: flex; 
        flex-direction: column;
        margin: 0 ;
        width: 300px;
    }

    .texto {
        display: flex;
        gap: 2rem;
        width: 250px;
    }

    .titulo_midias {
        font-size: 40px;
    }

    .descricao_midias {
        font-size: 15px;
    }

    .card_imagem {
        gap: 2rem;
    }

    .imagens_card {
        width: 80vw;
        margin: 0 auto;
    }
}