.cartazes {
    display: flex;
    justify-content: end;
    width: 100%;
}

.container_cartazes {
    display:flex;
    flex-direction: column;
    gap: 2em;
    margin: 90px 60px 0 0 ;
    width: 350px;
}

.titulo_cartaz {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 50px;
    color: var(--cor-fonte);
}

.descricao_cartaz {
    font-family: var(--fonte-descricao);
    font-weight: 300;
    font-size: 15px;
    color: var(--cor-fonte);
    text-align: start;
}

.tacas {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}
.taca {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imagem_taca {
    height: 350px;
}

.cartaz {
    margin-right: 0;
    width: 100%;
}

.imagem_cartaz {
    width: 99%;
    height: 800px;
}


@media screen and (max-width: 600px) {
    .cartazes, .tacas, .cartaz {
        display: flex; 
        flex-direction: column;
        margin: 0 ;
        gap: 2rem;
        width: 300px;
    }

    .container_cartazes {
        width: 300px;
        gap: 2rem;
    }

    .titulo_cartaz {
        font-size: 40px;
    }

    .descricao_cartaz {
        font-size: 15px;
    }

    .imagem_taca {
        width: 80vw;
        margin: 0 auto;
    }

    .imagem_cartaz {
        width: 90vw;
        margin: 0 auto;
    }
}


