.design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6em;
}

.sites {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 300px;
    margin-left: 30px;
}

.titulo_design {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 50px;
    color: var(--cor-fonte);
}

.descricao_design {
    font-family: var(--fonte-descricao);
    font-weight: 300;
    font-size: 15px;
    color: var(--cor-fonte);
}

.estudo {
    font-family: var(--fonte-descricao);
    color: var(--cor-fonte);
}

.taca, .cartaz {
    width: 300px;
}

.foto_oculos, .foto_roupas {
    height: 500px;
}


@media screen and (max-width: 600px) {
    .design {
        display: flex; 
        flex-direction: column;
        margin: 0 ;
        gap: 2rem;
        width: 300px;
    }

    .titulo_design {
        font-size: 40px;
    }

    .descricao_design {
        font-size: 15px;
    }

    .foto_oculos .foto_roupas .foto_modelo {
        width: 100vw;
    }

    .sites {
        width: 250px;
    }
}