@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

:root {

  --fonte-titulo: 'Montserrat';
  --fonte-descricao: 'Poppins';
  --cor-fonte: #5e5343; 
}

*{
  margin: 0;
  box-sizing: border-box;  
}

body {
    background: #efe9e4;
}

