.trabalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    gap: 3.5em;
}

.container_trabalho {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.titulo_trabalho {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 50px;
    color: var(--cor-fonte);
}

.trabalho_endereco, .trabalho_telefone, .trabalho_email {
    font-family: var(--fonte-descricao);
    font-weight: 300;
    font-size: 20px;
    color: var(--cor-fonte);
}

.container_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem_trabalho {
    width: 600px;
    height: 700px;
}

span {
    font-family: var(--fonte-descricao);
    font-weight: 300;
    font-size: 30px;
    color: var(--cor-fonte);
}


@media screen and (max-width: 600px) {
    
    .trabalho {
        display: flex; 
        flex-direction: column;
        margin: 0 ;
    }

    .container {
        width: 300px;
        margin: 0;
    }

    .imagem_trabalho {
        width: 100vw;
        height: 60vh;
    }

    .titulo_trabalho {
        font-size: 40px;
    }

    .trabalho_endereco .trabalho_telefone .trabalho_email {
        font-size: 15px;
    }

    .container_logo {
        width: 300px;
    }

    .logo_footer {
        width: 40px;
    }

    span {
        font-size: 20px;
    }
}